@model TDVeleprodaja.Models.Product<MoreInformationAboutProduct>
@{ 
    List<PriceList.Item> pr_items = PriceList.Item.BufferedList();
    List<PriceList> priceLists = PriceList.BufferedList();

}
<div>
    <span>@Model.Name</span><br />
    <img src="@Model.Thumbnail" />
    <div>
        Cene: 
        <
    </div>
</div>