@model List<Product<MoreInformationAboutProduct>>
@{ 
    TDVeleprodaja.Models.User<MoreInformationAboutUser> currentUser = AR.ARWebAuthorization.GetUser(this.Context.Request.Cookies.Where(t => t.Key == "h").FirstOrDefault().Value).LocalUserClass as TDVeleprodaja.Models.User<MoreInformationAboutUser>;

}
<span>@currentUser.Name</span>
@foreach(Product<MoreInformationAboutProduct> p in Model)
{
    <div class="Product">
        <div class="Title"><a href="/Product/@p.ID">@p.Name</a></div>
    <div class="Slika" ><img src="@p.Thumbnail" /></div>

    </div>
}
