@{ 
    

}

<div class="PriceList">
    <div class="Name">
        <label>Name: </label>
        <input type="text" class="txt" />
    </div>
    <div class="Type">
        <label>Type:</label>
        <select name="type">
             @foreach (var k in Enum.GetValues(typeof(PriceListType)).Cast<PriceListType>())
             {
                 <option>@k</option>
             }
            <option value=""></option>
        </select>
    </div>
</div>